*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald', sans-serif;
}

html, body {
    width: 100%;
}

.clear{
    clear: both;
}

/*header*/

section.header{
    width: 100%;
    height: 110px;
    border-bottom: 3px solid #EB2D2D; 
}

section.header .menu-container{
    margin: 20px ;
    max-width: 1400px;
}

section.header .menu-total {
    margin-left: 10px;
}

section.header .menu-total .logo{
    float: left;
    left: 40px;
}

section.header .menu-desktop ul{
    margin-left: 60%;
    padding-top: 40px;
}

section.header .menu-desktop ul li{
    display: inline-block;
    padding: 10px 28px;
}

.menu-desktop ul li a {
    font-size: 23px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #000;
    font-style: italic;
}

.menu-desktop ul li a.atual{
    font-size: 23px;
    font-style: italic;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #EB2D2D;
}

.menu-mobile {
    margin-top:px;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url(/VeiculoSingle/images/icon_menu.png);
	display: none;
}

.menu-mobile ul{
	display: none;
	width: 100%;
	left: 0;
	top: 95px;
	border-bottom:4px solid #EB2D2D;
	z-index: 999;
	position: absolute;
	text-align: center;
	background-color: white;
}

.menu-mobile li{
	font-size: 23px;
	padding:20px 0px;
	font-style: italic;
}

.menu-mobile li a{
	color: black;
	text-decoration: none;
}

/*****/

/* Veiculos Destaque */

section.veiculo-venda{
    min-height: 90%;
    padding: 30px 2% 20px 2%;
}

section.veiculo-venda .central-linha{
    max-width: 1400px;
    margin: 40px auto;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

section.veiculo-venda .linha {
    position: absolute;
    height: 2px;
    width: 100%;
    top: 20px;
    background: black;
}

.texto-linha{
    display: inline-block;
    position: relative;
    margin-top: 20px;
}

.texto-linha h2{
    background-color: white;
    display: block;
    text-transform: uppercase;
    font-size: 27px;
    padding:  0 20px;
    font-style: italic;
}

.container{
    padding: 40px 0 0 0;
    text-align: center;
    max-width: 1280px;
}

/* Info veiculo */

.info-veiculo{
    display: inline-block;
    width: 80%;
    height: 100%;
}

.info-veiculo .info-cima{
    text-align: left;
    padding-top: 14px ;
    padding-bottom: 8px;
}

.info-veiculo .info-cima a{
    padding: 0 25px;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.info-veiculo .info-cima a:nth-of-type(1){
    padding-left: 0;
}

.info-veiculo .info-cima a:nth-of-type(3){
    color: rgb(209, 5, 5);
}

.container-texto-imagens{
    margin: 0 auto;
}


.container-texto-imagens .imagem{
    width: 70%;
    padding-top: 55%;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    margin-bottom: 14px;
    display: none;
}

/* classes para o script */

.container-texto-imagens .active{
    display: block;
}

.border{
    border: 3px solid gray;
}

.imageAtual{
    border: 4px solid #EB2D2D;
}
/*****/

.container .info-veiculo .texto{
    width: 100%;
    max-width: 300px;
    height: 100%;
    float: right;
    margin-top: -72%;
}

.container-texto-imagens .slide{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slide .left-arrow{
    background-image: url(imagens/arrow-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.slide .right-arrow{
    background-image: url(imagens/arrow-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 62px;
    height: 62px;
    margin-left: 4px;
    cursor: pointer;
}

.container-texto-imagens .slide .imagens-cont{
    display: inline-flex;
}


.container-texto-imagens .slide .imagens-cont img {
    width: 100%;
    max-width: 30.2%;
    margin: 0 10px;
}

.slide .imagens-cont .atual{
    border: 4px solid #EB2D2D;
}


.info-veiculo .texto h2{
    text-align: left;
}

.info-veiculo .texto p{
    font-size: 17px;
    text-align: left;
    margin-top: 15px;
}

.info-veiculo .texto input[type=submit]{
    margin-top: 30px;
}

.info-veiculo .texto .btn{
    background-color: #EB2D2D;
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    width: 150px;
    cursor: pointer;
    line-height: 40px;
    font-style: italic;
    border: 0;
    border-bottom: 8px solid #B21E1E;
    margin-top: 18px;
}

/*****/

/* Contato */

section.contato{
    padding: 80px 2% 0 2%;
}

section.contato .contato-line{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

section.contato .contato-line .line{
    width:100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 20px;
}

section.contato .contato-line h2{
    background-color: white;
    color: #000;
    display: inline-block;
    padding: 0 20px;
    font-size: 27px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-style: italic;
}

section.contato form {
    max-width: 600px;
    margin: 30px auto;
}

form .input-wraper {
    float: left;
    padding: 10px;
    margin-top: 7px;
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

section.contato input[type=text]{
    width: 100%;
    height: 60px;
    line-height: 40px;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid #ccc;
}

section.contato textarea{
    width: 100%;
    font-size: 16px;
    height: 140px;
    padding: 8px;
    resize: none;
}

section.contato .btn1{
    background-color: #EB2D2D;
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 150px;
    line-height: 40px;
    font-style: italic;
    margin-top: 12px;
    margin-left: 38%;
}

section.contato input[type=submit]{
    border: 0 ;
    border-bottom: 8px solid #B21E1E;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

/******/

/* Veiculos Destaque */

section.veiculos-destaque{
    padding: 90px 2%;
}

section.veiculos-destaque .central-linha{
    text-align: center;
    margin-top: 30px;
}

section.veiculos-destaque .linha {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
}

.texto-linha{
    display: inline-block;
    position: relative;
    bottom: 20px;
}

section.veiculos-destaque .texto-linha h2 {
    font-size: 27px ;
    padding: 0 20px;
    text-transform: uppercase;
    font-style: italic;
    background-color: white;
}

section.veiculos-destaque .container-destaque{
    padding: 42px 0;
}

.container-destaque .cada-destaque{
    width: 33.3%;
    float: left;
    border: 10px solid white
}

.container-destaque .cada-destaque .carro-img {
    width: 100%;
    height: 420px;
}

.container-destaque .cada-destaque .carro-img img{
    width: 100%;
    height: 100%;
}

.cada-destaque .texto-destaque{
    height: 100px;
}

.cada-destaque .texto-destaque h2{
    font-size: 20px;
    font-style: italic;
    color: black;
}

.cada-destaque .texto-destaque p{
    font-size: 15px;
    font-style: italic;
    color: #353535;
    padding-top: 8px;
}

.cada-destaque .texto-destaque .btn{
    background-color: #EB2D2D;
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: 12px;
    text-decoration: none;
    display: block;
    width: 150px;
    line-height: 40px;
    font-style: italic;
    border-bottom: 8px solid #B21E1E;
}

/*****/

/* FOOTER */

footer .total{
    display: flex;
    width: 100%;
    height: 108px;
    background-color: #242424;
    max-width: 1400px;
}

footer .total .menu-container-footer{
    width: 50%;
    height: 100%;
}

.menu-container-footer .menu-footer {
    margin-left: 40px;
}

.menu-footer ul li {
    display: inline-block;
    padding: 30px 40px;
    margin-top: 12px;
}

.menu-footer ul li a{
    font-size: 19px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-style: italic;
}

.menu-footer ul li a.atual{
    font-size: 19px;
    font-style: italic;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #EB2D2D;
}

.total .direitos-container {
    width: 50%;
    height: 100%;
}

.direitos-container .direitos{
    float: right;
}

.direitos p {
    color: white;
    font-size: 19px;
    font-style: italic;
    margin-right: 15px;
    margin-top: 38px;
}

/******/

@media screen and (max-width: 1187px){
    section.header .menu-desktop ul{
        margin-left: 50%;
        padding-top: 40px;
    }
}

@media screen and (max-width: 969px){
    section.header .menu-desktop ul{
        margin-left: 40%;
        padding-top: 40px;
    }
}

@media screen and (max-width: 1329px){
   .container .info-veiculo .texto{
       padding-left: 50px;
   }
}

@media screen and (max-width: 1097px){
    .container .info-veiculo .texto{
        padding-left: 70px;
    }

    .slide .right-arrow{
        margin-left: 25px;
    }
}

@media screen and (max-width: 1000px){
    .container .info-veiculo .texto{
        float: none;
        margin-top: 0%;
        max-width: 600px;
        margin-top: 30px;
    }

    .container-texto-imagens .imagem{
        width: 100%;
    }

    .container-texto-imagens .slide{
        width: 100%;
        margin: 0 auto;
    }

    .right-arrow{
        margin-left: -10px;
    }
}

@media screen and (max-width: 810px){
    section.header .menu-desktop ul li{
        display: none;
    }

    section.heder .menu-desktop{
        display: none;
    }
    
    .menu-mobile {
        background-size: 100% 100%;
        cursor: pointer;
        background-image: url(imagens/icon_menu.png);
        display: block;
    }
    
    .menu-mobile ul{
        width: 100%;
        left: 0;
        top: 55px;
        display: none;
        border-bottom:4px solid #EB2D2D;
        z-index: 999;
        position: absolute;
        text-align: center;
        background-color: white;
    }

    .menu-mobile ul{
        display: none;
    }

    .menu-mobile ul li:hover {
        background: rgba(240, 235, 235, 0.575);
    }

    .menu-mobile ul .atual {
        color: #EB2D2D;
    }
    
    .menu-mobile li{
        font-size: 23px;
        padding:20px 0px;
        font-style: italic;
    }
    
    .menu-mobile li a{
        color: black;
        text-decoration: none;
    }

    .container-destaque .cada-destaque {
        width: 100%;
        float: none;
        padding: 30px 2%;
    }

    .container-destaque .cada-destaque .carro-img{
        width: 80%;
        margin: 0 auto;
    }

    .container-destaque .texto-destaque{
        margin-left: 62px;
    }

    section.servicos-depoimentos{
        display: inline-block;
        height: 100%;
    }

    section.servicos-depoimentos .servicos-container{
        width: 100%;
        height: 100%;
        border: 10px solid #252525;   
    }

    section.servicos-depoimentos .half1 {
        margin-bottom: 60px;
    }

    section.servicos-depoimentos .half1 .botao{
        position: static;
        margin-top: 30px;
    }

    section.servicos-depoimentos .depoimentos-container{
        width: 100%;
        border: 1px solid #EB2D2D;
        margin-bottom: 100px;
        height: 100%;
    }

    section.servicos-depoimentos .half2{
        padding-bottom: 60px;
    }

    footer  .total{
        display: flex;
        width: 100%;
        height: 108px;
        background-color: #242424;
    }

    footer .total .menu-container-footer{
        display: none;
    }

    .total .direitos-container{
        width: 100%;
    }

    .direitos-container .direitos{
        float: none;
        display: inline;
    }

    .direitos-container .direitos p{
        margin: 40px auto;
        text-align: center;
        color: white;
        font-size: 22px;
        font-style: italic;
    }

    
}


@media screen and (max-width: 640px){
    .left-arrow, .right-arrow{
        margin-top: 40px;
        width: 120px;
        height: 120px;
    }


}

@media screen and (max-width: 560px){
    .container-texto-imagens .imagem{
        width: 110%;
    }

    .container-texto-imagens .slide{
        width: 110%;
    }
    
    .botao {
        margin-left: -28px;
    }
}   

